[Unit]
Description=Run Nightscout glucose synchronization every 5 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
AccuracySec=30s
Persistent=true
Unit=xiaomi-health-nightscout-sync.service

[Install]
WantedBy=timers.target
